<div class="banner-header" role="banner">
  <a href="https://www.mlb.com/">
    <img 
      width="80"
      alt="mlb logo"
      src="assets\img\mlb.png"
    />
  </a>
  <h2>Baseball APP</h2>
</div>
<div class="menu" role="menubar">
  <ul>
    <li>
        <a class="menu-item" routerLink="" >Home</a>
    </li>
    <li>
        <a class="menu-item" routerLink="teams" >Teams</a>
    </li>
    <li>
        <a class="menu-item" routerLink="players" >Players</a>
    </li>
    <li>
        <a class="menu-item" routerLink="venues" >Venues</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>