<div class="player-details-container">
    <div class="player-details-banner">
        <img
            src="https://securea.mlb.com/mlb/images/players/head_shot/{{player?.id}}.jpg"
        >
        <h1 class="player-details-banner-name">{{player?.fullName}}</h1>
        <h2 class="player-details-banner-number">{{player?.primaryNumber}}</h2>
    </div>
    <div class="player-details">
        <h3>Player Info</h3>
        <div class="player-details-row">
            <h4 class="player-details-label-white">Nickname: </h4>
            <h4 class="player-details-text-white">{{player?.nickName}}</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-gray">Position: </h4>
            <h4 class="player-details-text-gray">{{player?.position.name}} ({{player?.position.abbreviation}})</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-white">Bat Side: </h4>
            <h4 class="player-details-text-white">{{player?.batSide}}</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-gray">Pitch Hand: </h4>
            <h4 class="player-details-text-gray">{{player?.pitchHand}}</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-white">Draft Year: </h4>
            <h4 class="player-details-text-white">{{player?.draftYear}}</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-gray">MLB Debut: </h4>
            <h4 class="player-details-text-gray">{{player?.mlbDebutDate}}</h4>
        </div>
    </div>
    <div class="player-details-personal">
        <h3>Personal Info</h3>
        <div class="player-details-row">
            <h4 class="player-details-label-white">First Name: </h4>
            <h4 class="player-details-text-white">{{player?.firstName}}</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-gray">Middle Name: </h4>
            <h4 class="player-details-text-gray">{{player?.middleName}}</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-white">Last Name: </h4>
            <h4 class="player-details-text-white">{{player?.lastName}}</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-gray">Date of Birth: </h4>
            <h4 class="player-details-text-gray">{{player?.birthDate}} (Age: {{player?.age}})</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-white">Place of Birth: </h4>
            <h4 class="player-details-text-white">{{player?.birthCountry}}, {{player?.birthStateProvince}} {{player?.birthCity}}</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-gray">Height: </h4>
            <h4 class="player-details-text-gray">{{player?.height}}"</h4>
        </div>
        <div class="player-details-row">
            <h4 class="player-details-label-white">Weight: </h4>
            <h4 class="player-details-text-white">{{player?.weight}} Lb</h4>
        </div>
    </div>
    <div class="player-details-stats-container">
        <h2>Hitting Stats</h2>
        <select [(ngModel)]="hittingStat" class="player-details-stats-dropdown">
            <option [ngValue]="null" selected disabled hidden>Select One</option>
            <option [ngValue]="stat" *ngFor="let stat of hittingStats" >{{stat.name}}</option>
        </select>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Games Played</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.gamesPlayed}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Runs</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.runs}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Doubles</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.doubles}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Triples</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.triples}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Home Runs</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.homeRuns}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">StrikeOuts</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.strikeOuts}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Hits</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.hits}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">AVG</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.avg}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">OBP</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.obp}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">SLG</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.slg}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">OPS</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.ops}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Stolen Base %</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.stolenBasePercentage}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">RBI</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.rbi}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">BABIP</h4>
            <h4 class="player-details-stats-value">{{hittingStat?.babip}}</h4>
        </div>
    </div>
    <div class="player-details-stats-container">
        <h2>Pitching Stats</h2>
        <select [(ngModel)]="pitchingStat" class="player-details-stats-dropdown">
            <option [ngValue]="null" selected disabled hidden>Select One</option>
            <option [ngValue]="stat" *ngFor="let stat of pitchingStats">{{stat.name}}</option>
        </select>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Games Played</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.gamesPlayed}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Games Started</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.gamesStarted}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Runs</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.runs}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Home Runs</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.homeRuns}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">StrikeOuts</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.strikeOuts}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Hits</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.hits}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">AVG</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.avg}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">OBP</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.obp}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">SLG</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.slg}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">OPS</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.ops}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Stolen Base %</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.stolenBasePercentage}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">ERA</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.era}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Wins</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.wins}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Losses</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.losses}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Whip</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.whip}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Strike %</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.strikePercentage}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Win %</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.winPercentage}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Games Finished</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.gamesFinished}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">StrikeOut/Walk Ratio</h4>
            <h4 class="player-details-stats-value">{{pitchingStat?.strikeOutWalkRatio}}</h4>
         </div>
    </div>
    <div class="player-details-stats-container">
        <h2>Fielding Stats</h2>
        <select [(ngModel)]="fieldingStat" class="player-details-stats-dropdown">
            <option [ngValue]="null" selected disabled hidden>Select One</option>
            <option [ngValue]="stat" *ngFor="let stat of fieldingStats">{{stat.name}}</option>
        </select>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Games Played</h4>
            <h4 class="player-details-stats-value">{{fieldingStat?.gamesPlayed}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Games Started</h4>
            <h4 class="player-details-stats-value">{{fieldingStat?.gamesStarted}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Assists</h4>
            <h4 class="player-details-stats-value">{{fieldingStat?.assists}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">PutOuts</h4>
            <h4 class="player-details-stats-value">{{fieldingStat?.putOuts}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Errors</h4>
            <h4 class="player-details-stats-value">{{fieldingStat?.errors}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Chances</h4>
            <h4 class="player-details-stats-value">{{fieldingStat?.chances}}</h4>
        </div>
        <div class="player-details-stats">
            <h4 class="player-details-stats-label">Fielding</h4>
            <h4 class="player-details-stats-value">{{fieldingStat?.fielding}}</h4>
        </div>
    </div>
</div>
