<h1>Home Placeholder</h1>
<p>
    Currently this component doesn't have any data to display.
    Ideally it would display info about upcoming matches/games as well as 
    scores of previous matches/games. <br>
    As per the requirements, the workflow of this app is as follows:<br>
    <br>
    (1) "Teams" menu item will take you the teams view, where you'll be able to see all the current MLB teams.<br>
    (2) In the teams view, selecting or clicking on a team will take you to the team details view.<br>
    (3) From the team details view, you'll be able to see the team's current/active roster.<br>
    (4) Once a player has been selected from the roster, you'll be taken to the player details view.<br>
    (5) In the player details view you'll be able to see the player's Fielding, Hitting and Pitching stats.
    I decided to only retrieve the stats for last the 3 years (i.e 2019, 2018, 2017).<br>
    <br>
    <br>
    The "Players" menu item will take you to the players view where you can see all the players that are currently
    active. Clicking on a player will take you to the player details view.<br>
    <br>
    The "Venues" menu item will take you to the venues view where it displays the ballpark from each MLB venue.<br>
</p>
